////
/// @group Theme
/// @author jf-swain
/// A default theme map
/// @todo To copu-y place in the project
////

/// @name $theme-color
$theme-color: (
  'default': ,
  'primary':
);

/// @ame $theme-font
$map: (
  'default': (
    name: ,
    fallback: ,
    download: (
      link: ,
    )
  )
);
